*{margin:0; padding:0;}
ol,ul,li{
	list-style:none;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	font-size: 100%;
}
a{
	text-decoration:none;
	color: #666;
	cursor: pointer;
}

a:hover{
	text-decoration: underline;
}

address, caption, cite, code, dfn, th, var {
	font-weight: normal;
	font-style: normal;	
}

caption, th{
	text-align: left;
}

em, b, strong, i, u, s, del, sub, sup, br, hr, nav {
	font-weight: normal;
	font-style: normal;
}